:root {
  --primary-text-color: #757575;
  --title-text-color: #212121;
  --hero-color: #2f303a;
  --color-white: #ffffff;
  --color-black: #000000;
  --hero-button-color: #188ce8;
  --accent-color: #2196f3;
  --team-section-color: #f5f4fa;
  --footer-contacts-color: rgba(255, 255, 255, 0.6);
  --link-icon-color: #afb1b8;
  --photo-section-part-bgc: rgba(47, 48, 58, 0.8);
  --works-photo-bgc: rgba(33, 150, 243, 0.9);
}

body {
  color: var(--primary-text-color);
  font-family: Roboto, sans-serif;
  font-size: 14px;
  font-weight: 400;
  background-color: var(--color-white);
  line-height: 1.7;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
  padding: 0;
}

ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

img {
  display: block;
  width: 100%;
  height: auto;
}

.visually-hidden {
  position: absolute;
  white-space: nowrap;
  width: 1px;
  height: 1px;
  overflow: hidden;
  border: 0;
  padding: 0;
  clip: rect(0 0 0 0);
  clip-path: inset(50%);
  margin: -1px;
}

.container {
  width: 1200px;
  padding-left: 15px;
  padding-right: 15px;
  margin-left: auto;
  margin-right: auto;
  /* outline: 1px solid tomato; */
}

/* Header */

.logo {
  color: var(--accent-color);
  font-family: Raleway, sans-serif;
  font-size: 26px;
  font-weight: 700;
  line-height: 1.2;
  text-decoration: none;
  letter-spacing: 0.03em;
}

.header {
  border-bottom: 1px solid #ececec;
}

.logo-part {
  color: var(--color-black);
}

.header-section {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.header-navigation {
  display: flex;
  align-items: center;
  gap: 93px;
}

.header-navigation-list {
  display: flex;
  gap: 50px;
}

.header-navigation-list-link {
  display: block;
  padding: 32px 0;

  color: var(--title-text-color);
  font-weight: 500;
  line-height: 1.14;
  text-decoration: none;
  letter-spacing: 0.02em;

  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.header-navigation-list-link:hover,
.header-navigation-list-link:focus {
  color: var(--accent-color);
}

.current {
  position: relative;
  color: var(--accent-color);
}

.current::after {
  position: absolute;
  left: 0;
  bottom: 0;

  background-color: var(--accent-color);

  min-width: 100%;
  height: 4px;
  border-radius: 4px;

  content: '';
}

.header-links {
  display: flex;
  gap: 30px;
}

.header-contacts {
  display: flex;
  align-items: center;
  column-gap: 10px;
  padding: 32px 0px;

  color: var(--primary-text-color);
  fill: currentcolor;
  font-weight: 500;
  line-height: 1.14;
  text-decoration: none;
  letter-spacing: 0.02em;

  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.header-contacts:hover,
.header-contacts:focus {
  color: var(--accent-color);
}

/* Main */

/* Hero */

.hero {
  max-width: 1600px;
  height: 600px;
  padding-top: 200px;
  padding-bottom: 200px;
  margin-left: auto;
  margin-right: auto;

  background-color: var(--hero-color);
  background-image: linear-gradient(rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)),
    url(../images/hero.jpg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

.hero-title {
  max-width: 696px;
  margin-bottom: 30px;
  margin-left: auto;
  margin-right: auto;
  text-align: center;

  color: var(--color-white);

  font-size: 44px;
  font-weight: 900;
  line-height: 1.36;
  text-transform: uppercase;
  letter-spacing: 0.06em;
}

.hero-button {
  display: block;
  padding: 10px 32px;
  border-radius: 4px;
  border: none;
  margin: 0 auto;

  font-family: inherit;
  font-size: 16px;
  font-weight: 700;
  line-height: 1.88;
  letter-spacing: 0.06em;
  cursor: pointer;

  background-color: var(--accent-color);
  color: var(--color-white);
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;

  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.hero-button:hover,
.hero-button:focus {
  background-color: var(--hero-button-color);
}

/* Advances */

.advances {
  padding-top: 94px;
  padding-bottom: 94px;
}

.advances-list {
  display: flex;
  justify-content: center;
  gap: 30px;
}

.advances-list-item {
  max-width: 270px;
}

.advances-icon {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 120px;

  background-color: var(--team-section-color);
  border-radius: 4px;
  margin-bottom: 30px;
}

.advances-list-item-title {
  margin-bottom: 10px;

  color: var(--title-text-color);
  font-size: 14px;
  font-weight: 700;
  line-height: 1.14;
  text-transform: uppercase;
}

/* Photo Section */

.photo-section {
  padding-bottom: 94px;
}

.photo-section-title {
  margin-bottom: 50px;

  color: var(--title-text-color);
  font-size: 36px;
  font-weight: 700;
  line-height: 1.17;
  text-align: center;
}

.photo-section-list {
  display: flex;
  justify-content: center;
  gap: 30px;
}

.photo-section-list-item {
  position: relative;
}

.photo-section-part {
  display: flex;
  justify-content: center;
  align-items: center;

  position: absolute;
  left: 0;
  bottom: 0;
  width: 100%;
  height: 70px;

  background-color: var(--photo-section-part-bgc);
}

.photo-section-descr {
  color: var(--color-white);
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  text-transform: uppercase;
}

/* Team */

.team {
  padding-top: 94px;
  padding-bottom: 94px;
  background-color: var(--team-section-color);
  text-align: center;
}

.team-title {
  margin-bottom: 50px;

  color: var(--title-text-color);
  font-size: 36px;
  font-weight: 700;
  line-height: 1.12;
}

.team-list {
  display: flex;
  justify-content: center;
  gap: 30px;
}

.team-item {
  width: calc((100%-90) / 4);

  background-color: #ffffff;
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
    0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 0px 0px 4px 4px;
}

.team-desc {
  padding: 30px 0;
}

.team-mate {
  margin-bottom: 10px;

  color: var(--title-text-color);
  font-size: 16px;
  font-weight: 500;
  line-height: 1.19;
}

.team-mate-position {
  margin-bottom: 16px;

  font-size: 16px;
  line-height: 1.19;
}

.team-icon-list {
  display: flex;
  justify-content: center;
  align-items: center;
  column-gap: 10px;
}

.team-icon-list-item {
  display: block;
  width: 44px;
  height: 44px;
}

.team-icon-link {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
  fill: var(--link-icon-color);
  border-radius: 50%;

  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.team-icon-link:hover,
.team-icon-link:focus {
  background-color: var(--accent-color);
  fill: var(--color-white);
}

/* Clients */

.clients {
  padding-top: 83px;
  padding-bottom: 115px;
  text-align: center;
}

.clients-title {
  margin-bottom: 50px;

  font-weight: 700;
  font-size: 36px;
  line-height: 1.17;

  color: var(--title-text-color);
}

.clients-list {
  display: flex;
  justify-content: center;
  align-items: center;
  column-gap: 30px;
}

.clients-list-item {
  display: block;
  width: calc((100% - 150px) / 6);
  height: 92px;
}

.clients-list-link {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
  fill: var(--link-icon-color);
  border: 1px solid var(--link-icon-color);
  border-radius: 4px;

  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1), border 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.clients-list-link:hover,
.clients-list-link:focus {
  fill: var(--accent-color);
  border: 1px solid var(--accent-color);
}

/* Footer */

.footer {
  padding-top: 60px;
  padding-bottom: 60px;

  background-color: var(--hero-color);
}

.footer .logo {
  display: block;
  margin-bottom: 20px;
}

.footer .part {
  color: var(--color-white);
}

.address-list-item:not(:last-child) {
  margin-bottom: 9px;
}

.address-goelocation {
  color: var(--color-white);
}

.address-link {
  color: var(--footer-contacts-color);
}

.footer .element {
  text-decoration: none;
  font-style: normal;

  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.footer .element:hover,
.footer .element:focus {
  color: var(--accent-color);
}

.footer-navigation {
  display: flex;
  justify-content: space-between;
  align-items: baseline;
  column-gap: 70px;
}

.join-text {
  margin-bottom: 20px;

  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  text-transform: uppercase;

  color: var(--color-white);
}

.join-list {
  display: flex;
  align-items: center;
  column-gap: 10px;
}

.join-item {
  width: 44px;
  height: 44px;
  border-radius: 50%;
  background-color: rgba(255, 255, 255, 0.1);
}

.join-link {
  display: flex;
  justify-content: center;
  align-items: center;

  width: 100%;
  height: 100%;
  fill: var(--color-white);
  border-radius: 50%;

  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.join-link:hover,
.join-link:focus {
  background-color: var(--accent-color);
}

.subscribe-form {
  display: flex;
  justify-content: center;
  align-items: flex-end;
  column-gap: 12px;
}

.subscribe-label {
  display: block;
  margin-bottom: 20px;

  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  text-transform: uppercase;

  color: #ffffff;
}

.subscribe-input {
  width: 358px;
  height: 50px;
  padding-left: 16px;

  background-color: inherit;

  border: 1px solid rgba(255, 255, 255, 0.3);
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
  border-radius: 4px;
  outline: none;
}

.subscribe-button {
  display: flex;
  justify-content: center;
  align-items: center;
  column-gap: 10px;

  width: 200px;
  height: 50px;

  font-weight: 700;
  font-size: 16px;
  line-height: 1.88;
  color: var(--color-white);

  background-color: var(--accent-color);
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border: none;
  border-radius: 4px;
  cursor: pointer;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.subscribe-button:hover {
  background-color: var(--hero-button-color);
}

.subscribe-icon {
  fill: var(--color-white);
}

/* Portfolio */

.portfolio {
  padding-top: 94px;
  padding-bottom: 94px;
}

.portfolio-filter {
  display: flex;
  justify-content: center;
  gap: 8px;
  margin-bottom: 50px;
}

.filter-button {
  padding: 6px 22px;
  border-radius: 4px;
  border: none;

  color: var(--title-text-color);
  font-family: inherit;
  font-size: 16px;
  font-weight: 500;
  line-height: 1.63;
  background-color: var(--team-section-color);
  cursor: pointer;

  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    background-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.filter-button:first-child {
  padding: 6px 25px;
}

.filter-button:hover,
.filter-button:focus {
  color: var(--color-white);
  background-color: var(--accent-color);
  box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08),
    0px 2px 2px rgba(0, 0, 0, 0.12);
}

.works-list {
  display: flex;
  flex-wrap: wrap;
  gap: 30px;
}

.works-title {
  margin-bottom: 4px;

  color: var(--title-text-color);
  font-size: 18px;
  font-weight: 700;
  line-height: 2;
  letter-spacing: 0.06em;
}

.works-link {
  display: block;
  text-decoration: none;
  max-width: 370px;

  position: relative;

  transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.works-link:hover,
.works-link:focus {
  box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06),
    1px 4px 6px rgba(0, 0, 0, 0.16);
}

.works-list-container {
  position: relative;
  overflow: hidden;
}

.works-list-descr {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  padding: 63px 24px;
  background-color: var(--works-photo-bgc);
  transform: translateY(100%);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.works-link:hover .works-list-descr {
  transform: translateY(0);
}

.works-list-descr-text {
  color: var(--color-white);
  font-size: 18px;
  line-height: 1.56;
}

.works-text {
  color: var(--primary-text-color);
  font-size: 16px;
  line-height: 1.88;
}

.works-decor {
  padding: 20px 24px;
  max-width: 370px;
  border-left: 1px solid #eeeeee;
  border-right: 1px solid #eeeeee;
  border-bottom: 1px solid #eeeeee;
}

/* Modal */

.backdrop {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.2);
  transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1),
    visibility 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.is-hidden {
  opacity: 0;
  visibility: hidden;
  pointer-events: none;
}

.modal {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%) scale(1);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);

  width: 528px;
  height: 581px;
  padding: 40px;

  background-color: var(--color-white);
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
    0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 4px;
}

.backdrop.is-hidden .modal {
  transform: translate(-50%, -50%) scale(0);
}

.modal-close-button {
  position: absolute;
  top: 8px;
  right: 8px;
  width: 30px;
  height: 30px;
  border-radius: 50%;
  border: 1px solid rgba(0, 0, 0, 0.1);
  background-color: var(--color-white);
  cursor: pointer;
}

.modal-close-icon {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.modal-close-button:hover,
.modal-close-button:focus {
  fill: var(--accent-color);
}

.modal-title {
  margin-bottom: 12px;

  font-weight: 700;
  font-size: 20px;
  line-height: 1.15;
  text-align: center;

  color: var(--title-text-color);
}

.modal-label {
  display: block;
  margin-bottom: 4px;

  font-size: 12px;
  line-height: 1.2;
  letter-spacing: 0.01em;

  color: var(--primary-text-color);
}

.modal-thumb {
  position: relative;
}

.modal-thumb:focus-within .modal-input,
.modal-thumb:focus-within {
  fill: var(--accent-color);
  border-color: var(--accent-color);
}

.modal-input {
  width: 448px;
  height: 40px;
  margin-bottom: 10px;
  padding-left: 36px;

  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;
  transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  outline: none;
}

.modal-icon {
  position: absolute;
  top: 11px;
  left: 12px;
  bottom: 11px;
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-textarea {
  width: 448px;
  height: 120px;
  padding: 12px 16px;
  margin-bottom: 20px;

  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;
  resize: none;
  transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  outline: none;
}

.modal-textarea:focus-within {
  border-color: var(--accent-color);
}

.modal textarea::placeholder {
  font-size: 12px;
  line-height: 1.18;
  letter-spacing: 0.01em;

  color: rgba(117, 117, 117, 0.5);
}

/* Checkbox */

.checkbox-container {
  position: relative;
  margin-left: 13px;
  margin-bottom: 30px;
}

.checkbox-icon {
  fill: var(--color-white);
  border: 2px solid var(--title-text-color);
  border-radius: 3px;
  margin-right: 7px;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    border 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.checkbox-input {
  position: absolute;
  appearance: none;
  -webkit-appearance: none;
  -moz-appearance: none;
}

.checkbox-label {
  position: relative;
  font-size: 14px;
  line-height: 1.7;
}

.checkbox-input:checked + .checkbox-icon {
  border: none;
  background-color: var(--accent-color);
}

.modal-terms {
  color: var(--accent-color);
}

.modal-form-button {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 200px;
  height: 50px;
  margin: 0 auto;

  font-weight: 700;
  font-size: 16px;
  line-height: 1.8;
  letter-spacing: 0.06em;

  color: var(--color-white);
  background-color: var(--accent-color);
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  border: none;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-form-button:hover,
.modal-form-button:focus {
  background-color: var(--hero-button-color);
}
